.container-carrinho-checkout {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-style-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.h2-carrinho-checkout {
  color: #333;
  text-align: center;
}

.sem-produto-no-carrinho {
  color: #333;
  font-weight: bold;
}

.lista-produtos-do-carrinho {
  list-style: none;
  padding: 0;
}

.itens {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.container-sabor-carrinho-checkout {
  flex-grow: 1;
  color: #333;
}

.btn-menos-car,
.btn-mais-car,
.excluir-carrinho {
  background-color: #ff4d4d;
  color: #333;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.qtd {
  margin: 0 10px;
  color: #333;
}

.price-all-car {
  margin-left: 10px;
  color: #333;
}

.entrega-infos-carrinho {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.retirar-no-local,
.entrega-via-motoboy {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #333;
}

.input-name-carrinho-checkout {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  color: #333;
}

.form-container-carrinho-checkout {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 60%;
}

.form-endereco-carrinho-checkout label {
  color: #333;
  display: block;
  margin-top: 10px;
}

.form-endereco-carrinho-checkout input,
.form-endereco-carrinho-checkout select {
  width: 13rem;
  padding: 5px;
  margin-top: 5px;
  color: #333;
}

.footer-end-carrinho-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.footer-end-carrinho-checkout span,
.footer-end-carrinho-checkout p {
  margin-bottom: 10px;
}

.btn-finalizar {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.btn-finalizar:hover {
  background-color: #ff3333;
}

.entrega-container-checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.tudo-container-do-carrinho-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
